<div id="edit">
  <% if flash.now[:success] %>
  <div class='flash'>保存成功</div>
  <% end %>
  <%= model_error_messages(@user) %>
  <%= form_for(@user, html: { method: :put }) do |f| %>
    <div layout="column">
      <md-input-container>
        <%= f.label :account %>
        <%= f.text_field :account, autofocus: true, required: true %>
      </md-input-container>

      <md-input-container>
        <%= f.label :stu_id %>
        <%= f.text_field :stu_id, required: true %>
      </md-input-container>

      <md-input-container>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </md-input-container>

      <md-input-container>
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
      </md-input-container>

      <md-input-container>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </md-input-container>

      <md-input-container>
        <%= f.label :study_state %><br>
        <%= f.ng_collection(:study_state_id, StudyState.all) %>
      </md-input-container>

      <md-input-container>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: :off %>
        <md-tooltip md-direction="left">如不修改则留空</md-tooltip>
      </md-input-container>



      <md-input-container>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </md-input-container>

      <%= f.ng_submit %>
    </div>

  <% end %>

</div>
