<div id="login">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div layout="column">
    <md-input-container>
      <%= f.label :account %><br />
      <%= f.text_field :account, autofocus: true, required: true %>
    </md-input-container>

    <md-input-container>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: :off, required: true %>
    </md-input-container>

    <% if devise_mapping.rememberable? -%>
      <md-checkbox ng-model="remember_me" ng-true-value="1" ng-false-value="0">
        记住我
      </md-checkbox>
      <%= f.hidden_field :remember_me, {"ng-value": "remember_me"} %>
      <%= hidden_field_tag :from, @sso_params[:from] %>
      <%= hidden_field_tag :timestamp, @sso_params[:timestamp] %>
      <%= hidden_field_tag :token, @sso_params[:token] %>
    <% end -%>
    <%= f.ng_submit %>
  </div>
  <% if !flash[:alert].blank? %>
    <div class="flash-notice"><%= flash[:alert]%></div>
  <% end %>
  <% end %>
  
</div>
